<% layout('layouts/boilerplate.ejs') %>
    <div id="cluster-map"></div>
    <h1 class="text-center my-4">All CampGrounds</h1>
    <% for(let campground of camp){ %>
        <div class="card mb-4">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.image.length>1){ %>
                        <img crossorigin="anonymous" src="<%= campground.image[0].url %>" alt="" class="img-fluid">
                        <% }else{ %>
                            <img crossorigin="anonymous" src="https://res.cloudinary.com/dba8hnojy/image/upload/v1690268160/YelpCamp/ta4iaybbpzhtbnwjcfau.jpg"
                                alt="" class="img-fluid">
                            <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location %>
                            </small>
                        </p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title
                                %></a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

            <script>
                const mapboxToken = '<%-process.env.MAPBOX_TOKEN%>'
                let campgrounds = { features: JSON.parse('<%-JSON.stringify(camp)%>') };

            </script>
            <script src="/javascripts/clusterMap.js"></script>